$firs-background-color:#f6f5fa;
$second-background-color:#afa6e2;
$three-background-color:#e2dff0;
$main-width-profile:'20px';
$main-width-chat-main: 250px;
$main-height-chat-main: '50px';
$second-color: #cccccc;
